.top {
    background-color: rgb(230, 159, 230);
    float: left;
}

h1 {
color:rgb(0, 0, 0);
font-family:"gill sans";
background-color: rgb(255, 255, 255);
border: 5mm ridge fuchsia;
border-radius: 20px;
padding: 40px;
text-align: center;
text-transform: uppercase;
font-size: 40px;
}

h2 {
    color: purple;
    background-color: white;
    border: 8px double rgb(5, 4, 4);
    font-family: "gill sans";
    text-align: center;
    border-radius: 20px;
}

h3 {
    color: black; 
    background-color: #ffffff;
    border: 2px solid black;
    font-family: "gill sans";
    text-align: center;
    border-radius: 20px;
}

h4 {
    color: black;
    background-color: white;
    border: 2px dotted black;
    font-family: "gill sans";
    text-align: center;
    border-radius: 20px;
    font-size: 18px;
}

p {
    color: black; 
    background-color: rgb(255, 255, 255);
    Border: 4px double rgb(145, 0, 126);
    text-align: center;
    font-family: "gill sans";
    border-radius: 20px;
    font-size: 20px;
    overflow: hidden;
    padding: 10px;
} 

#highlight { 
    color: rgb(0, 0, 0);
    border: 2mm ridge rgb(145, 0, 126);
    border-radius: 20px;
    font-family: "gill sans";
    font-size: 30px;
    overflow: hidden;
}

img {
    padding: inherit;
    margin: auto;
    width: 20%;
    height: 20%;
    border: 5px solid rgb(162, 90, 233);
    box-shadow: 5px 5px 3px 1px #999;
    border-radius: 20px;
    display: block;
}